@page "/"
@attribute [TabItemOption(Text = "Index")]
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<p>1) Paste some incorrect value, for example - 'lasdfha'</p>
<p>2) Press 'Enter'</p>
<p>3) Paste value - 'http://localhost:5000/videoplayback.mp4'</p>
<p>4) Press 'Enter'</p>
<br/>
<p>If u press 'Enter' a second time, everything will be work - tooltip validation will passed.</p>

<div class="row">
    <div class="col">
        <ValidateForm Model="@this.version" ValidateAllProperties="true" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <VideoSourceEditor @bind-VideoUrl="@this.version.VideoPluginSettings.VideoUrl" />
        </ValidateForm>
    </div>
</div>

@code {
    private VideoPluginVersionDto version = new();

    private Task OnValidSubmit(EditContext editContext)
    {
        System.Console.WriteLine("OnValidSubmit");
        return Task.CompletedTask;
    }

    private Task OnInvalidSubmit(EditContext editContext)
    {
        System.Console.WriteLine("OnInvalidSubmit");
        return Task.CompletedTask;
    }
}